{% extends "base.html" %}

{%- block head_content %}
    <link href="{{ url_for('static', path='month.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', path='month.js') }}"></script>
    <script>
        let current_date = '{{ current_date }}';
    </script>
{% endblock %}

{%- block body_content %}
<div class="global">

    <div class="month">

        {# Day labels here - Monday, Tuesday, etc. #}
        <div class="header">
            {%- for long_name, short_name in day_names %}
                <div class="labels">
                    <span class="wide">{{ long_name }}</span>
                    <span class="narrow">{{ short_name }}</span>
                </div>
            {% endfor -%}
        </div>

        {# Day contents here, five weeks of seven days #}
        {%- for week in month.weeks() -%}
            <div class="week">
                {%- for day in week %}
                    <div class="{{ day.css_class }}" date="{{ day.date }}">
                        <span class="day_label wide">
                            {{ day.number }} {{ translate("month_%s_"|format(day.month)) }}
                        </span>
                        <span class="day_label narrow">
                            {{ day.number }}
                        </span>
                        {% for goal in day.goals() %}
                            <span class="goal">{{ loop.index }}. {{ goal.title }}</span>
                        {% endfor %}
                    </div>

                {% endfor -%}
            </div>
        {%- endfor -%}

        {# Navigation buttons here #}
        <div class="footer">

            <a href="{{ leap_back_url }}">
                <span class="wide">{{ _('Leap back') }}</span>
                <span class="narrow"> ⇇ </span>
            </a>

            <a href="{{ step_back_url }}">
                <span class="wide">{{ _('Step back') }}</span>
                <span class="narrow"> ← </span>
            </a>

            <a href="/month">{#FIXME#}
                <span class="wide">{{ _('Step on date') }}</span>
                <span class="narrow"> ↸ </span>
            </a>

            <a href="{{ step_forward_url }}">
                <span class="wide">{{ _('Step forward') }}</span>
                <span class="narrow"> → </span>
            </a>

            <a href="{{ leap_forward_url }}">
                <span class="wide">{{ _('Leap forward') }}</span>
                <span class="narrow"> ⇉ </span>
            </a>
        </div>

    </div>

    <div id="menu_toggle" class="menu_toggle"></div>

    {% set menu_style = 'flex' if menu_is_visible else 'none' %}
    <div id="menu" class="menu" style="display: {{ menu_style }}">
        <h5>{{ user.name }}</h5>
        <a href="{{ url_for('logout') }}" class="small_button">{{ _('Logout') }}</a>
        <hr>
        <a href="{{ url_for('create_goal', date=current_date) }}" class="small_button">{{ _('Create goal') }}</a>

        {%- for section in goal_sections %}
            <h5>{{ section }}</h5>
            {% for goal in goal_sections[section] -%}
                <a href="/update_goal/{{ goal.id }}" class="goal">{{ loop.index }}. {{ goal.title }}</a>
            {% endfor -%}

            {%- if not loop.last -%}
                <hr>
            {%- endif -%}
        {%- endfor -%}
    </div>

</div>
{% endblock -%}
