{% extends "base.html" %}

{%- block head_content %}
    <link href="{{ url_for('static', path='goal.css') }}" rel="stylesheet"
          type="text/css">
    <script src="{{ url_for('static', path='goal.js') }}"></script>
{% endblock %}

{% block body_content %}
    <div class="container">
        <div class="goal_div">
            <h3>{{ header }}</h3>

            <div id="alerts-container">
                {% for error in errors %}
                    <div class="alert">{{ error|safe }}</div>
                {% endfor %}
            </div>

            <div class="form_section">
                <form method="POST">
                    {{ form.csrf_token }}
                    {{ form.goal_id() }}

                    <div class="one_row">
                        <div class="one_column">
                            <div class="form_group">
                                <span class="tooltip">Как будет отображаться в перечне</span>
                                {{ form.goal_title.label }}
                                {{ form.goal_title() }}
                            </div>

                            <div class="form_group" style="height: 100%">
                                <span class="tooltip">Как быдет выглядеть описание</span>
                                {{ form.goal_description.label }}
                                {{ form.goal_description() }}
                            </div>
                        </div>

                    <div class="one_column">
                        <div class="form_group">
                            <span class="tooltip">На какую дату поставить</span>
                            {{ form.target_date.label }}
                            {{ form.target_date() }}
                        </div>

                        <div class="form_group">
                            <span class="tooltip">На какое время поставить</span>
                            {{ form.target_time.label }}
                            {{ form.target_time() }}
                        </div>

                        <div class="form_group">
                            <span class="tooltip">Тип действия</span>
                            {{ form.persistence.label }}
                            {{ form.persistence() }}
                        </div>

                        <div class="form_group">
                            <span class="tooltip">Начало действия</span>
                            {{ form.start_time.label }}
                            {{ form.start_time() }}
                        </div>

                        <div class="form_group">
                            <span class="tooltip">Конец действия</span>
                            {{ form.end_time.label }}
                            {{ form.end_time() }}
                        </div>

                        <div class="form_group">
                            <span class="tooltip">Есть метрика?</span>
                            <div class="one_row_centered">
                                {{ form.has_metric.label }}
                                {{ form.has_metric() }}
                            </div>
                        </div>

                        <div class="form_group">
                            <span class="tooltip">Название цели</span>
                            {{ form.metric_name.label }}
                            {{ form.metric_name() }}
                        </div>

                        <div class="form_group">
                            <span class="tooltip">Целевая величина</span>
                            {{ form.metric_objective.label }}
                            {{ form.metric_objective() }}
                        </div>

                        <div class="form_group">
                            <span class="tooltip">Делать за раз</span>
                            {{ form.metric_step.label }}
                            {{ form.metric_step() }}
                        </div>
                        {% block buttons_content %}{% endblock %}
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

{#        <label>#}
{#            {{ tr('$target_date') }}:#}
{#            <input type="date" name="target_date" value="{{ record.target_date[:10] }}">#}
{#        </label>#}
{##}
{# ====================================================================================== #}
{##}
{#        <label>#}
{#            {{ tr('$target_time') }}:#}
{#            <select name="target_time">#}
{#                <option value="all day"{{ 'selected' if record.target_time == 'all_day' }}>Весь день</option>#}
{#                <option value="00:00"{{ 'selected' if record.target_time == '00:00' }}>00:00</option>#}
{#                <option value="01:00"{{ 'selected' if record.target_time == '01:00' }}>01:00</option>#}
{#                <option value="02:00"{{ 'selected' if record.target_time == '02:00' }}>02:00</option>#}
{#                <option value="03:00"{{ 'selected' if record.target_time == '03:00' }}>03:00</option>#}
{#                <option value="04:00"{{ 'selected' if record.target_time == '04:00' }}>04:00</option>#}
{#                <option value="05:00"{{ 'selected' if record.target_time == '05:00' }}>05:00</option>#}
{#                <option value="06:00"{{ 'selected' if record.target_time == '06:00' }}>06:00</option>#}
{#                <option value="07:00"{{ 'selected' if record.target_time == '07:00' }}>07:00</option>#}
{#                <option value="08:00"{{ 'selected' if record.target_time == '08:00' }}>08:00</option>#}
{#                <option value="09:00"{{ 'selected' if record.target_time == '09:00' }}>09:00</option>#}
{#                <option value="10:00"{{ 'selected' if record.target_time == '10:00' }}>10:00</option>#}
{#                <option value="11:00"{{ 'selected' if record.target_time == '11:00' }}>11:00</option>#}
{#                <option value="12:00"{{ 'selected' if record.target_time == '12:00' }}>12:00</option>#}
{#                <option value="13:00"{{ 'selected' if record.target_time == '13:00' }}>13:00</option>#}
{#                <option value="14:00"{{ 'selected' if record.target_time == '14:00' }}>14:00</option>#}
{#                <option value="15:00"{{ 'selected' if record.target_time == '15:00' }}>15:00</option>#}
{#                <option value="16:00"{{ 'selected' if record.target_time == '16:00' }}>16:00</option>#}
{#                <option value="17:00"{{ 'selected' if record.target_time == '17:00' }}>17:00</option>#}
{#                <option value="18:00"{{ 'selected' if record.target_time == '18:00' }}>18:00</option>#}
{#                <option value="19:00"{{ 'selected' if record.target_time == '19:00' }}>19:00</option>#}
{#                <option value="20:00"{{ 'selected' if record.target_time == '20:00' }}>20:00</option>#}
{#                <option value="21:00"{{ 'selected' if record.target_time == '21:00' }}>21:00</option>#}
{#                <option value="22:00"{{ 'selected' if record.target_time == '22:00' }}>22:00</option>#}
{#                <option value="23:00"{{ 'selected' if record.target_time == '23:00' }}>23:00</option>#}
{#            </select>#}
{#        </label>#}
{##}
{# ====================================================================================== #}
{##}
{#        <label>#}
{#            {{ tr('$title') }}:#}
{#            <input type="text" name="title" value="{{ record.title }}" autofocus>#}
{#        </label>#}
{##}
{# ====================================================================================== #}
{##}
{#        <label>#}
{#            {{ tr('$description') }}:#}
{#            <textarea rows="10" name="description">{{ record.description }}</textarea>#}
{#        </label>#}
{##}
{# ====================================================================================== #}
{##}
{#        <label>#}
{#            {{ tr('$status') }}:#}
{#            <select name="status">#}
{#                {%- for status in statuses %}#}
{#                    <option value="{{ status.id }}"{{ status.selected }}>{{ status.name }}</option>#}
{#                {%- endfor %}#}
{#            </select>#}
{#        </label>#}
{##}
{# ====================================================================================== #}
{##}
{#        <label>#}
{#            {{ tr('$persistence') }}:#}
{#            <select name="persistence">#}
{#                {%- for each_type in persistence_types %}#}
{#                    <option value="{{ each_type.id }}"{{ each_type.selected }}>{{ each_type.name }}</option>#}
{#                {%- endfor %}#}
{#            </select>#}
{#        </label>#}
{##}
{# ====================================================================================== #}
{#    </form>#}
{##}
{#    {% if mode == 'create' %}#}
{#        <a href="#" id="btn-create" class="btn">{{ tr('$create') }}</a>#}
{#    {% else %}#}
{#        <a href="#" id="btn-update" class="btn">{{ tr('$save') }}</a>#}
{#        <a href="#" id="btn-delete" class="btn">{{ tr('$delete') }}</a>#}
{#    {% endif %}#}
{#    <a href="#" id="btn-day" class="btn">{{ tr('$to_day') }}</a>#}
{#    <a href="#" id="btn-month" class="btn">{{ tr('$to_month') }}</a>#}

{#</div>#}
