{% extends "base.html" %}

{%- block head_content %}
    <link href="{{ url_for('static', path='day.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_content %}
<div class="global">
    <div class="day_contents">
        <div class="header">
            {% if tasks %}
                {{ _('Tasks on %s %s (%s-x)')|format(
                    current_date.day,
                    translate("month_%s_"|format(current_date.month)),
                    tasks|length
                ) }}
            {% else %}
                {{ _('Nothing planned on %s')|format(current_date) }}
            {% endif %}
        </div>

        {% for task in tasks %}
            <div class="record">
                {{ loop.index }}. {{ task.text }}
            </div>
        {% endfor %}

        <div class="controls">
            <a href="{{ month_url }}" id="btn_add" class="btn">{{ _('New record') }}</a>
            <a href="{{ month_url }}" id="btn_month" class="btn">{{ _('Back to month') }}</a>
        </div>

    </div>
</div>
{% endblock %}