{% extends "login_base.html" %}
{%- block login_content %}
<div>
    <form method="POST">
        <div class="form_group">
            <label for="login">Ваш логин:</label>
            <input type="text" name="login" id="login" placeholder="Логин" value="{{ login }}">
        </div>

        <div class="form_group">
            <label for="password">Ваш пароль:</label>
            <input type="password" name="password" id="password" placeholder="Пароль" value="{{ password }}">
        </div>

        <button class="login_button" name="action" value="login">Выполнить вход</button>
        <button class="login_button" name="action" value="restore">Не помню пароль</button>
        <button class="login_button" name="action" value="register">Регистрация</button>
    </form>
</div>
{% endblock %}