{% extends "base.html" %}

{%- block head_content %}
    <link href="{{ url_for('static', path='month.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{%- block body_content %}
<div class="global">

    <div class="month">

        {# Day labels here - Monday, Tuesday, etc. #}
        <div class="header">
            {%- for long_name, short_name in day_names %}
                <div class="labels">
                    <span class="wide">{{ long_name }}</span>
                    <span class="narrow">{{ short_name }}</span>
                </div>
            {% endfor -%}
        </div>

        {# Day contents here, five weeks of seven days #}
        {%- for week in month.weeks() -%}
            <div class="week">
                {%- for day in week %}
                    <div class="{{ day.css_class }}" date="{{ day.date }}">
                        <span class="day_label wide">
                            {{ day.number }} {{ translate("month_%s_"|format(day.month)) }}
                        </span>
                        <span class="day_label narrow">
                            {{ day.number }}
                        </span>
                        {% for goal in day.goals() %}
                            <span class="goal">{{ loop.index }}. {{ goal }}</span>
                        {% endfor %}
                    </div>

                {% endfor -%}
            </div>
        {%- endfor -%}

        {# Navigation buttons here #}
        <div class="footer">

            <div id="leap_back" onclick="relocate('{{ leap_back_url }}')">
                <span class="wide">{{ _('Leap back') }}</span>
                <span class="narrow"> ⇇ </span>
            </div>

            <div id ="step_back" onclick="relocate('{{ step_back_url }}')">
                <span class="wide">{{ _('Step back') }}</span>
                <span class="narrow"> ← </span>
            </div>

            <div id ="step_on_date" onclick="relocate('/month')">{#FIXME#}
                <span class="wide">{{ _('Step on date') }}</span>
                <span class="narrow"> ↸ </span>
            </div>

            <div id="step_forward" onclick="relocate('{{ step_forward_url }}')">
                <span class="wide">{{ _('Step forward') }}</span>
                <span class="narrow"> → </span>
            </div>

            <div id="leap_forward" onclick="relocate('{{ leap_forward_url }}')">
                <span class="wide">{{ _('Leap forward') }}</span>
                <span class="narrow"> ⇉ </span>

            </div>
        </div>

    </div>

    <div id="menu_toggle" class="menu_toggle"></div>

    {% set menu_style = 'flex' if menu_is_visible else 'none' %}
    <div id="menu" class="menu" style="display: {{ menu_style }}">
        <h5>{{ user.name }}</h5>
        <button id="btn_logout" class="small_button">{{ _('Logout') }}</button>
        <hr>
        <button id="btn_add_goal" class="small_button">{{ _('Create goal') }}</button>

        {%- for section in tasks %}
            <h5>{{ section }}</h5>
            {% for task in tasks[section] -%}
                <span class="task">{{ task.text }}</span>
            {% endfor -%}

            {%- if not loop.last -%}
                <hr>
            {%- endif -%}
        {%- endfor -%}
    </div>

</div>
{% endblock -%}
