{% extends "base.html" %}

{%- block add_to_head %}
<link href="{{ url_for('static', path='other.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{%- block content %}
<div class="container">

    <div class="login_div">
        <div class="container_center">
            LOGO
        </div>

        <div>
            <form method='POST'>
                <div class="form_group">
                    <label for='login'>Ваш логин:</label>
                    <input type="text" name="login" id="login" placeholder="Логин">
                </div>

                <div class="form_group">
                    <label for='password'>Ваш пароль:</label>
                    <input type="password" name="password" id="password" placeholder="Пароль">
                </div>

                <button type="submit" class="login_button" name="login" value="1">Выполнить вход</button>
                <button type="submit" class="login_button" name="recover" value="1">Не помню пароль</button>
                <button type="submit" class="login_button" name="register" value="1">Регистрация</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}