{% extends "base_auth.html" %}

{%- block main_form %}
{% if sig_okay %}
    <form method="POST" autocomplete="off">

        <div class="form_group">
            {{ form.password.label }}
            {{ form.password() }}
        </div>

        <div class="form_group">
            {{ form.password_repeat.label }}
            {{ form.password_repeat() }}
        </div>

        <input type="submit" class="login_button">
    </form>
{% endif %}
<button class="login_button" id="btn_go_main">{{ retry }}</button>
{% endblock %}