{% extends "login_base.html" %}

{%- block login_content %}
<div>
    <h3>{{ header }}</h3>
    {% if sig_okay %}
        <form method="POST" autocomplete="off">
            <div>
                {{ form.password.label }}: {{ form.password() }}
            </div>
            <div>
                {{ form.password_repeat.label }}: {{ form.password_repeat() }}
            </div>
            <input type="submit" class="login_button">
        </form>
    {% else %}
        <button class="login_button" onclick="relocate('{{ index_url }}');">{{ retry }}</button>
    {% endif %}
</div>
{% endblock %}