{% extends "login_base.html" %}

{%- block login_content %}
<div>
    <p>{{ header }}</p>
    {% if sig_okay %}
        <form method="POST" autocomplete="off">
            <label>Password
                <input type="password" name="password_1" value="" placeholder="New password">
            </label>
            <label>Password
                <input type="password" name="password_2" value="" placeholder="Repeat new password">
            </label>
        <input type="submit" class="login_button">
    </form>
    {% else %}
        <button class="login_button" onclick="relocate('{{ index_url }}');">{{ retry }}</button>
    {% endif %}
</div>
{% endblock %}