{% extends "base.html" %}

{%- block head_content %}
    <link href="{{ url_for('static', path='record.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_content %}
<div class="record-container">

    <div class="record-header">
        {{ record.title or tr('$new_record') }}
    </div>

    <div id="alerts-container"></div>

    <form id="main_form" class="record_form">
        {# ====================================================================================== #}

        <label>
            <input type="hidden" name="record_id" value="{{ record.id }}" disabled>
        </label>

        <label>
            <input type="hidden" name="creator_id" value="{{ record.creator_id }}" disabled>
        </label>
        {# ====================================================================================== #}

        <label>
            {{ tr('$author') }}:
            <input type="text" value="{{ creator_name }}" disabled>
        </label>

        {# ====================================================================================== #}

        <label>
            {{ tr('$created_for') }}:
            <select name="recipient_id">
                <option value="only me">{{ tr('$only_me') }}</option>
                {#<option value="{{ record.recipient_id }}">{{ record.recipient_id }}</option>#}
            </select>
        </label>

        {# ====================================================================================== #}

        <label>
            {{ tr('$visible_for') }}:
            <select name="visibility">
                {%- for each in visibility %}
                    <option value="{{ each.id }}"{{ each.selected }}>{{ each.name }}</option>
                {%- endfor %}
            </select>
        </label>

        {# ====================================================================================== #}

        <label>
            {{ tr('$target_date') }}:
            <input type="date" name="target_date" value="{{ record.target_date[:10] }}">
        </label>

        {# ====================================================================================== #}

        <label>
            {{ tr('$target_time') }}:
            <select name="target_time">
                <option value="all day"{{ 'selected' if record.target_time == 'all_day' }}>Весь день</option>
                <option value="00:00"{{ 'selected' if record.target_time == '00:00' }}>00:00</option>
                <option value="01:00"{{ 'selected' if record.target_time == '01:00' }}>01:00</option>
                <option value="02:00"{{ 'selected' if record.target_time == '02:00' }}>02:00</option>
                <option value="03:00"{{ 'selected' if record.target_time == '03:00' }}>03:00</option>
                <option value="04:00"{{ 'selected' if record.target_time == '04:00' }}>04:00</option>
                <option value="05:00"{{ 'selected' if record.target_time == '05:00' }}>05:00</option>
                <option value="06:00"{{ 'selected' if record.target_time == '06:00' }}>06:00</option>
                <option value="07:00"{{ 'selected' if record.target_time == '07:00' }}>07:00</option>
                <option value="08:00"{{ 'selected' if record.target_time == '08:00' }}>08:00</option>
                <option value="09:00"{{ 'selected' if record.target_time == '09:00' }}>09:00</option>
                <option value="10:00"{{ 'selected' if record.target_time == '10:00' }}>10:00</option>
                <option value="11:00"{{ 'selected' if record.target_time == '11:00' }}>11:00</option>
                <option value="12:00"{{ 'selected' if record.target_time == '12:00' }}>12:00</option>
                <option value="13:00"{{ 'selected' if record.target_time == '13:00' }}>13:00</option>
                <option value="14:00"{{ 'selected' if record.target_time == '14:00' }}>14:00</option>
                <option value="15:00"{{ 'selected' if record.target_time == '15:00' }}>15:00</option>
                <option value="16:00"{{ 'selected' if record.target_time == '16:00' }}>16:00</option>
                <option value="17:00"{{ 'selected' if record.target_time == '17:00' }}>17:00</option>
                <option value="18:00"{{ 'selected' if record.target_time == '18:00' }}>18:00</option>
                <option value="19:00"{{ 'selected' if record.target_time == '19:00' }}>19:00</option>
                <option value="20:00"{{ 'selected' if record.target_time == '20:00' }}>20:00</option>
                <option value="21:00"{{ 'selected' if record.target_time == '21:00' }}>21:00</option>
                <option value="22:00"{{ 'selected' if record.target_time == '22:00' }}>22:00</option>
                <option value="23:00"{{ 'selected' if record.target_time == '23:00' }}>23:00</option>
            </select>
        </label>

        {# ====================================================================================== #}

        <label>
            {{ tr('$title') }}:
            <input type="text" name="title" value="{{ record.title }}" autofocus>
        </label>

        {# ====================================================================================== #}

        <label>
            {{ tr('$description') }}:
            <textarea rows="10" name="description">{{ record.description }}</textarea>
        </label>

        {# ====================================================================================== #}

        <label>
            {{ tr('$status') }}:
            <select name="status">
                {%- for status in statuses %}
                    <option value="{{ status.id }}"{{ status.selected }}>{{ status.name }}</option>
                {%- endfor %}
            </select>
        </label>

        {# ====================================================================================== #}

        <label>
            {{ tr('$persistence') }}:
            <select name="persistence">
                {%- for each_type in persistence_types %}
                    <option value="{{ each_type.id }}"{{ each_type.selected }}>{{ each_type.name }}</option>
                {%- endfor %}
            </select>
        </label>

        {# ====================================================================================== #}
    </form>

    {% if mode == 'create' %}
        <a href="#" id="btn-create" class="btn">{{ tr('$create') }}</a>
    {% else %}
        <a href="#" id="btn-update" class="btn">{{ tr('$save') }}</a>
        <a href="#" id="btn-delete" class="btn">{{ tr('$delete') }}</a>
    {% endif %}
    <a href="#" id="btn-day" class="btn">{{ tr('$to_day') }}</a>
    <a href="#" id="btn-month" class="btn">{{ tr('$to_month') }}</a>

</div>
{% endblock %}