{% extends "base.html" %}

{%- block add_to_head %}
    <link href="{{ url_for('static', path='day.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="day-container">
    <div class="day-header">
        {% if records %}
            {{ tr('$tasks')|format(chosen_date_str, records|length) }}
        {% else %}
            {{ tr('$nothing')|format(chosen_date_str) }}
        {% endif %}
    </div>

    {% for record in records %}
        <div class="day-record status-{{ record.status_id }}" onclick="view_record({{ record.id }})">
            {{ loop.index }}. {{ record.title }}.
        </div>
    {% endfor %}

    <a href="#" id="btn-add" class="btn">{{ tr('$new_record') }}</a>
    <a href="#" id="btn-month" class="btn">{{ tr('$to_month') }}</a>
</div>
{% endblock %}